*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*heading styles*/

h1{
	font-family: 'Unica One', cursive;
	text-transform: uppercase;
	letter-spacing: 10px;
    font-size: 5em;
    text-align: center;
    font-weight: 20;
}

h2{
	font-family: 'Unica One', cursive;
	text-transform: uppercase;
	font-size: 2em;
}

h3{
    font-size: 1.0em;
}
p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
	letter-spacing: 1px;
}


/*navigation orientation/styles */

.nav-item{
	font-family: 'Unica One', cursive;
	font-size: 1.5em;
	text-transform: uppercase;
	padding-right: 50px;
}

.nav-container {
    max-height: 75%;
    background: #2F4F4F;
    padding-bottom: 1%;
}

/*link colors/decoration*/

a , nav-item.li{
	text-decoration: none;
	list-style-type:none;
	color: #ffffff;
}

a:active{
	color: #7ABFD6;
    text-decoration: none;
}

a:link{
	color: #ffffff;
    text-decoration: none;
}

a:hover{
	color: #7ABFD6;
    text-decoration: none;
}

.current_page{
	color: #7ABFD6 ;
}


/* header styles */

.header_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;  
}

.header-background{
    background: #2F4F4F;
    height: 900px;
    width: 100%;
    background-size: cover;
}
h1.header{
    font-family: 'Unica One', cursive;
	text-transform: uppercase;
	letter-spacing: 10px;
    font-size: 5em;
    text-align: center;
    font-weight: 20;
    color: #C8C8C8;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
   
}

h2.header{
    color: #C8C8C8;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: capitalize;
    margin-top: 30px;   
}

/* Button Styles */

.button-style{

    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: solid #D6D9C9 3px;
    background-color: #2F4F4F;
    font-family: 'Unica One', cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #D6D9C9;
}

.button-position{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80%;
}

hr.white-line{
  border: .5px solid;
  color: white;
  opacity: .2;
  width: 20%;
}


.button-style:hover {
    box-shadow: 0 0 40px #222;
    color: #7ABFD6;
    border: solid #7ABFD6 3px;
    text-decoration: none;
}

/* about styles */
.about-container{
    background: #D6D9C9;
}
.about-header-position{
    padding-top: 3%;
}
.about-row{
   display: grid;
   grid-template-columns: 2fr 2fr;
   align-items: center;
   justify-content: center;
   margin: 5%;
}
.about-text{
    padding: 40px;
    width: 60%;
    background: #ffffff;
    border-radius: 10%;
    justify-self: flex-end;
    box-shadow: 0 0 20px #696969;
    margin-right: 5%;
}
.about-img{
    width: 65%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 0 0 20px #696969;
}

.about-text h2, h3{
    text-align: center;
}

.resume{
    text-align: center;
    padding-bottom: 5%;
}

.resume h3{
    font-size: 1.2em;
}

#resume-button {
    background: #2F4F4F;
    border: solid  #ffffff 3px;
    color: #ffffff;
}

#resume-button:hover {
    box-shadow: 0 0 40px #222;
    color: #7ABFD6;
    border: solid #7ABFD6 3px;
    text-decoration: none;
}
/* skills styles */

/* #skills-boxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    padding-bottom: 4%;
}
.skills-content{
    flex-basis: 30%;
    margin-bottom: 2%;
    padding: 4%;
    min-width: 250px;
    border-radius: 10%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 0 20px #696969;
}

.skills-content ul, li{
    text-align: left;
}



.skills-content a{
    color: #0a0a0a;
}
.skills-content a:hover{
    color: #7ABFD6;
} */
/* new-skills section styles */

.skills-container{
    padding-top: 4%;
    padding-bottom: 4%;
    background: #C0C0C0;
}


#skills-row{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 100%;
    text-align: center;
    padding-top: 4%;
}
.skills-content-container{
    margin: 15px;
    background-color: white;
    height: 300px;
    transition: transform .5s;
    transform-style: preserve-3d; 
}

.skills-content-container:hover{
    transform: rotateY(180deg);
    box-shadow: 0 0 20px #696969;
}
.skills-content-front, .skills-content-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.skills-content-front{
    background-color: white;
    align-self: center;
    
}
.skills-content-back{
    position: relative;
    background-color: #2F4F4F;
    transform: rotateY(180deg);
    color: white;
}
.skills-icon{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

/* work styles */
.work-container{
    background: #D6D9C9;
    /* background: #355357; */
    padding-bottom: 8%;
}
.work-heading-padding{
    padding: 4%;
}
#work-gallery{
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content:center;
    max-width: 60%;
}
.work-text{
    grid-column: span 2;
    padding: 4%;
    color: #ffffff;
}
.work-text h2{
    text-align: center;
    padding-bottom: 2%;
}
img.work-img-resize{
    width: 700px;
    height: 600px;
    border: solid #2F4F4F 25px;
   
}

.portfolio-button-position{
    text-align: center;
    padding-top: 5%;
}

/* text overlay over image styles */

.overlay-container {
  position: relative;
  width: 100%;
}

.overlay-img {
  display: block;
  width: 100%;
  height: auto;
  
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #181818;
  opacity: .8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-container:hover .overlay {
  height: 100%;
}

.fig-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.fig-text h1{
    font-size: 3em;
}

/*contact styles*/

.contact-container{
   background-image: url("/portfolio/img/triangle_background.jpg");
   width: 100%;
   height: auto;
   padding-top: 10%;
   padding-bottom: 10%;
}
.contact-box{
    width: 60%;
    height: auto;
    padding: 8%;
    margin-right: auto;
    margin-left: auto;
	text-align: center;
    background-color: #2F4F4F;
    border-radius: 8%;
    box-shadow: 0 0 30px #0a0a0a;
    color: #0a0a0a;
}
.contact-box h1{
    color: #0a0a0a;
}
.contact-box p{
  color: #7ABFD6;
}

.contact_text{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	text-align: center;
    width: 50%;
    font-size: 1.3em;
}

/* contact form styles */
label{
    font-family: 'Unica One', cursive;
	text-transform: uppercase;
    font-size: 1.5em;
}

input, textarea{
    width: 50%;
    height: 40px;
    border-radius: 10px;
}
textarea.comment-area{
    height: 150px;
    resize: none;
}
.form-button-spacing{
    margin-top: 50px;
}
input:focus , textarea:focus{
    background: #7ABFD6;
}

/* projects page styles */

.portfolio-header-background{
    background: #2F4F4F;
    height: 400px;
    width: 100%;
    background-size: cover;
}

/*footer styles*/
.footer_container{
    background-color: #767676;
    text-align: center;
    padding: 20px;
    max-width: 100%;
}
.footer-header{
    padding: 10px;
    font-size: 1.1em;
}

/*social media button styles */


.social-media-footer{
    margin: auto;
    justify-content: space-around;
    display: flex;
    max-width: 500px;
    padding: 20px;

}

.social-media-footer a{
    text-decoration: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: 0.4s all;
    line-height: 50px;
    cursor: pointer;
    background: #D6D9C9;
    border-radius: 50%;
    color: #2a6969;
}

.social-media-footer a:hover{
    transform: scale(1.2);
    color: #7ABFD6;
}

.social_media_links_container a{
    padding: 20px;
    font-size: 25px;
    text-decoration: none;
}

/* RESPONSIVE STYLES */

/* Large desktops and laptops */
@media (min-width: 1900px) {
   .col-xs-4{
       margin: 40px;
      
   }

   .main-photo{
       
    width: 500px;
    height: 650px;
    text-align: center;
    margin-left: 25%;
}

   }

    h1{
        font-size: 5em;
    }
}



/* Landscape tablets and medium desktops */
 @media (max-width: 1200px) {
     .col-xs-4{
       margin: 10px;
   }

    .about_me_text col-md col-xs-12{
	margin-right: 0;
}

    .main-photo{
        margin-left: 25%;
    }
    
}


/* Portrait tablets and small desktops */
@media (max-width: 992px) {
      .col-xs-4{
       margin: 20px;
   }

    .thumbnail img{
       width: 400px;
       height: 300px;
   }

     .about_me_text col-md col-xs-12{
	margin-right: 0;
}

    .main-photo{
        width: 300px;
        height: 400px;
        margin-left: 20%;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
     .col-xs-4{
       margin: 20px;

   }

   .col-padding{
       padding: 10px;
   }

   .caption{
       max-width: 400px;
   }
   .caption p{
       font-size: 1em;
   }

 .main-photo{
        width: 400px;
        height: 500px;
     
    }


    /* decrease header font on smaller devices */

     .header_title{
        padding-top: 50px;
        font-size: .7em;
    }

    .header_subtitle{
        font-size: .5em;
    }

    /* decrease img size */
    .thumbnail-img{
        width: 400px;
        height: 300px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 576px) {
     


    .col-xs-12{
        margin-left: 10px;
        padding: 10px;
    }
    .contact_text{
        width: 75%;
    }

    /* decrease nav font */
    .nav{
        flex-direction: column;
        text-align: center;
    }

    .nav-item{
        padding: 0;
    }
    
    /* decrease header font size on smaller screens */
    .header_title{
        padding-top: 50px;
        font-size: .7em;
    }

    .header_subtitle{
        font-size: .5em;
    }

    /* decrease img size  */

    .thumbnail-img{
        width: 400px;
        height: 300px;
    }

    .main-photo{
        width: 450px;
        height: 450px;
        margin: 0;
    
    }
}


/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */