*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*heading styles*/

h1{
	font-family: 'Unica One', cursive;
	text-transform: uppercase;
	letter-spacing: 10px;
    font-size: 5em;
    text-align: center;
    font-weight: 20;
}

h2{
	font-family: 'Unica One', cursive;
	text-transform: uppercase;
	font-size: 2em;
}

p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
	letter-spacing: 1px;
}


/*navigation orientation/styles */

.nav-item{
	font-family: 'Unica One', cursive;
	font-size: 1.5em;
	text-transform: uppercase;
	padding-right: 50px;
}

.nav_container {
    max-height: auto;
    background-image: 	#2F4F4F;
    padding-bottom: 1%;
}

/*link colors/decoration*/

a , li{
	text-decoration: none;
	list-style-type:none;
	color: #808782;
}

a:active{
	color: #7ABFD6;
}

a:link{
	color: #808782;
}

a:hover{
	color: #7ABFD6;
}

.current_page{
	color: #7ABFD6 ;
}


/* header styles */

.header_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;  
}

.header-background{
    background-image: url("/portfolio/img/gradient.jpg");
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    background-size: cover;
}
h1.header{
    font-family: 'Unica One', cursive;
	text-transform: uppercase;
	letter-spacing: 10px;
    font-size: 5em;
    text-align: center;
    font-weight: 20;
    color: #C8C8C8;
}

h2.header{
    color: #C8C8C8;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    text-transform: capitalize;
}

#header-button{
    width: 150px;
    background-color: none;
}


/*main photo styles*/
.flex{
    display: flex;
}

.grid{
    display: grid;
}

.flex-horizontal-center{
    justify-content: center;
    text-align: center;
}

.main-photo{
    width: 500px;
    height: 650px;
    text-align: center;
    margin-left: 25%;
}

/* about styles */
.about-container{
    background-color: #D3D3D3;
    margin-right: auto;
    margin-left: auto;
}

.about-row{
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   background-color: white;
}
.about-text{
    
    width: 100%;
    height: 350px;
    margin-top: 20%;
}
.about-img{
    width: 50%;
    height: 50%;
}

/* skills styles */

#skills-boxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    padding-bottom: 4%;
}
.skills-content{
    flex-basis: 30%;
    margin-bottom: 2%;
    padding: 4%;
    min-width: 250px;
    border-radius: 10%;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 20px #696969;
}
.skills-icon{
    width: 75%;
}

.skills-header{
    padding-top: 4%;
}
/* work styles */

#work-gallery{
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 28% 28%;
    grid-template-rows: auto auto 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items:center;
    justify-content:center;
}


img.work-img-resize{
    width: 500px;
    height: 400px;
}

.right-align{
    align-items: right:
}


/*contact styles*/

.contact-container{
   background-image: url("/portfolio/img/triangle_background.jpg");
   width: 100%;
   height: auto;
   padding-top: 18%;
   padding-bottom: 18%;
}
.contact-box{
    width: 60%;
    height: auto;
    padding: 8%;
    margin-right: auto;
    margin-left: auto;
	text-align: center;
    background-color: #0a3663;
    border-radius: 8%;
    box-shadow: 0 0 30px #0a0a0a;
}
.contact_text{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	text-align: center;
    width: 50%;
    font-size: 1.3em;
}

/*footer styles*/
.footer_container{
    background-color: #808782;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    max-width: 100%;
}

/* footer social media button styles */

.social-media-footer{
    margin: auto;
    justify-content: space-around;
    display: flex;
    max-width: 500px;
    padding: 20px;

}

.social-media-footer a{
    text-decoration: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: 0.4s all;
    line-height: 50px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    color: #2a6969;
}

.social-media-footer a:hover{
    transform: scale(1.2);
    color: #7ABFD6;
}



/* social media header link styles  */


.social_media_links_container{
    
   position:absolute;
   top:30px;
   right:30px;
  }

.social_media_links_container a{
    width: 30px;
    font-size: 30px;
    padding-right: 50px;
    text-decoration: none;
}

.social-media-header{
    margin-top: 10px; 
}

.social-media-header a{
    padding: 5px;
}


/* project styles */

.thumbnail-img{
    width: 500px;
    height: 400px;
}

.container-fluid{
    padding: 0;
}

.col-padding{
    padding: 20px;
    background-color:#D3D3D3;
}

.caption{
    max-width: 475px;
}

.caption-padding{
    padding: 20px 0 10px 0;
}



/* Large desktops and laptops */
@media (min-width: 1900px) {
   .col-xs-4{
       margin: 40px;
      
   }

   .main-photo{
       
    width: 500px;
    height: 650px;
    text-align: center;
    margin-left: 25%;
}

   }

    h1{
        font-size: 5em;
    }
}



/* Landscape tablets and medium desktops */
 @media (max-width: 1200px) {
     .col-xs-4{
       margin: 10px;
   }

    .about_me_text col-md col-xs-12{
	margin-right: 0;
}

    .main-photo{
        margin-left: 25%;
    }
    
}


/* Portrait tablets and small desktops */
@media (max-width: 992px) {
      .col-xs-4{
       margin: 20px;
   }

    .thumbnail img{
       width: 400px;
       height: 300px;
   }

     .about_me_text col-md col-xs-12{
	margin-right: 0;
}

    .main-photo{
        width: 300px;
        height: 400px;
        margin-left: 20%;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
     .col-xs-4{
       margin: 20px;

   }

   .col-padding{
       padding: 10px;
   }

   .caption{
       max-width: 400px;
   }
   .caption p{
       font-size: 1em;
   }

 .main-photo{
        width: 400px;
        height: 500px;
     
    }


    /* decrease header font on smaller devices */

     .header_title{
        padding-top: 50px;
        font-size: .7em;
    }

    .header_subtitle{
        font-size: .5em;
    }

    /* decrease img size */
    .thumbnail-img{
        width: 400px;
        height: 300px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 576px) {
     


    .col-xs-12{
        margin-left: 10px;
        padding: 10px;
    }
    .contact_text{
        width: 75%;
    }

    /* decrease nav font */
    .nav{
        flex-direction: column;
        text-align: center;
    }

    .nav-item{
        padding: 0;
    }
    
    /* decrease header font size on smaller screens */
    .header_title{
        padding-top: 50px;
        font-size: .7em;
    }

    .header_subtitle{
        font-size: .5em;
    }

    /* decrease img size  */

    .thumbnail-img{
        width: 400px;
        height: 300px;
    }

    .main-photo{
        width: 450px;
        height: 450px;
        margin: 0;
    
    }
}


/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */